body {
    background-color: #064789;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


h1 {
    font-family: "Arial";
    font-weight: bold;
    color: #427AA1;
    font-size: 35px;
    text-align: center;

}

.sub-heading {
    font-family: "Arial";
    font-size: 25px;
    color: #427AA1;
    text-align: center;

}
.parent {
    width: 800px;
    height: 400px;
    border-radius: 20px;
    background-color: #EBF2FA;
    display: flex;
    justify-content: center;
    align-items: center;

}

mark {
    background-color: #A5BE00;
}

#message {
    height: 800px;
    width: 800px;
}
.message {
    width: 750px;
    height: 750px;
    font-size: 26px;
    font-family: Verdana;

}
.ending {
    text-align: right;
}